@font-face {
    font-display: swap;
    font-family: 'Almarai-Regular';
    src: url('../src/assets/fonts/Almarai-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Almarai-Bold';
    src: url('../src/assets/fonts/Almarai-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-display: swap;
    font-family: 'RedRose-Bold';
    src: url('../src/assets/fonts/RedRose-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}