* {
    box-sizing: border-box;
    margin: 0;
    scrollbar-width: thin;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    background-color: #2F3131;


    &__text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    &__subtitle {
        font-size: 48px;
        color: #FFFFFF;
        font-family: 'Almarai-Regular';
    }

    &__title {
        font-size: 140px;
        color: #FFFFFF;
        font-family: 'RedRose-Bold';
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;
        background-color: #F0EA6E;
        font-size: 40px;
        font-family: 'RedRose-Bold';
        margin-top: 85px;
        gap: 40px 40px;
    }
}

.settings {
    position: absolute;
    inset: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 54px;

    &__title {
        font-size: 54px;
        font-family: 'RedRose-Bold';
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-family: 'Almarai-Bold';
        gap: 6px;
        padding-bottom: 12px;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: 20px;
        font-family: 'Almarai-Regular';
        list-style: none;
        gap: 12px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__icon {
        width: 25px;
        height: 25px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    &__summary {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 14px 20px;
        background-color: #F6F6F6;
    }

    &__summary-label {
        font-size: 20px;
        font-family: 'Almarai-Regular';
    }

    &__options {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 54px;
    }

    &__section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 170px;
        gap: 54px;
    }

    &__preview {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 45px;
    }

    &__start-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 20px;
        background-color: #F0EA6E;
        border: none;
        font-size: 20px;
        font-family: 'RedRose-Bold';
        gap: 8px;
    }

    &__start-icon {
        width: 20px;
        height: 16px;
    }
}

.settings__item input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid #303131;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.settings__item input[type="radio"]::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: scale(0);
    background-color: #303131;
    transition: transform 0.15s ease-in-out;
}

.settings__item input[type="radio"]:checked::before {
    transform: scale(1);
}

.game {
    position: absolute;
    inset: 0;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 41px 112px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__players {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #86E9D633;
        padding: 17px 20px;
        gap: 20px;
    }

    &__player {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    &__player-name-blue {
        color: #2BB1FF;
        font-size: 24px;
        font-family: 'RedRose-Bold';
    }

    &__player-name-orange {
        color: #F58E39;
        font-size: 24px;
        font-family: 'RedRose-Bold';
    }

    &__player-points-blue {
        color: #2BB1FF;
        font-size: 24px;
        font-family: 'RedRose-Bold';
    }

    &__player-points-orange {
        color: #F58E39;
        font-size: 24px;
        font-family: 'RedRose-Bold';
    }

    &__current-player {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    &__current-player-label {
        font-size: 26px;
        font-family: 'RedRose-Regular';
        color: #FFFFFF;
    }

    &__exit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #86E9D633;
        padding: 16px 24px;
        font-family: 'RedRose-Bold';
        font-size: 24px;
        color: #FFFFFF;
        border: 1px solid #4DD5BC;
        gap: 10px;
    }
}